h1{
    text-align: center;
    color: srgb((194, 186, 186)41, 127, 127);
    font-size: 40px;
    background-color: lightgray;
    }
    h2{
        text-align: center;
        color: rgb(206, 13, 100);
        
    }
    h3{
        
        text-align:center;
        color: rgb(206, 13, 100);
        
    }
    img {
        height: 400px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
       
    }
    p{
        font-size: 20px;
        background-color: lightgray;
        text-align: justify;
        padding-left: 70px;
        padding-right: 70px;
    }
    strong {
        font-size: 25px;
        padding-left: 70px;
        color: rgb(206, 13, 100);
    }
    ul {
        padding-left: 85px;
        background-color: lightgray;
        font-size: 19px;
    }
    hr{
        border-width: 10px;
    }